@import 'tailwindcss';

.input_custom {
    @apply px-4 py-2 rounded-lg outline-none border border-gray-300 focus:border-orange-500 transition duration-300 ease-in-out
}

.btn_custom {
    @apply w-full px-4 py-2 bg-orange-500 text-white font-medium rounded-full hover:bg-orange-400 transition duration-300 ease-in-out mt-3 cursor-pointer
}

select option:checked {
    @apply bg-orange-500 text-white font-medium;
}

.payment-input-custom {
    @apply flex items-center space-x-3 p-2 border-2 border-gray-300 rounded-md hover:border-orange-500 transition duration-250 hover:bg-gray-50 cursor-pointer;
}

.delivery-info-custom {
    @apply w-full border-2 outline-0 rounded-md border-gray-300 hover:border-orange-500 rounded px-2 py-1 transition duration-300;
}
